* {
    text-decoration: none;
    list-style: none;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}






body {
    max-width: 100%;
    margin: auto;
    background: linear-gradient(150deg,rgb(247, 244, 244), rgb(113, 138, 221));
}
    
    
    





.container{
    max-width: 1160px;
    margin: 0 auto;
}
header{
    background-color: white;
    padding-bottom: 37px;
    
}
.menu{
   position: absolute;
   top: 29px;
   left: 0;
   right: 0;
   transform: translateX(-80px);
   align-items: center;
   justify-content: space-between;
 }
 .content{
 
   min-height: 100px;
   
 
 
 }
 .navbar{
   transform: translate(350px,-50px);
 }
 .logo{
   font-size: 65px;
   color: rgb(113, 138, 221);
   font-weight: bold;
   transform: translateX(-80px);
 } 
.menu.navbar ul li{
position: fixed; 
float: left;
}
 .menu.navbar ul  a{
    font-size: 20px;
    padding: 30px;
    color: #0b0b0b;
    display: block;
    font-weight: bold;
 }
 .menu.navbar ul li a:hover{
    color: rgb(43, 150, 21);
 }
 #menu {
    display: none;
 }
 .menu-icono{
    width: 50px;

 }
 .menu label{
    cursor: pointer;
    display: none;
 }

 .imagen_1,.imagen_2,.imagen_3{
    display: flex;
    padding: 40px;
    border-radius: 30px;
    
    

    
 }
 .pp{
   font-size: 20px;
 }
 .navbar ul a{
    color: rgb(113, 138, 221);
    text-decoration: none;
    margin: 18px;
 } 
 .navbar ul a:hover{
    background-color: rgb(113, 138, 221);
    color: white;
    margin: 20px;
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
 } 

 .imagen_1 p,.imagen_2 p,.imagen_3 p{
    text-align: center;
    padding: 50px;
    font-size:25px;
    
 }
 

 .INICIO{
    margin: 50px;
    
 }
 .btn{
    color: rgb(48, 5, 241);
    text-decoration: none;
    padding: 5  px;
 }
 .imagen{
   border-radius: 30px;
 }
 



 