* {
    text-decoration: none;
    list-style: none;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}






body {
    max-width: 100%;
    margin: auto;
    background: linear-gradient(150deg,rgb(247, 244, 244), #79b061);
    
}
    
    
    





.container{
    max-width: 1160px;
    margin: 0 auto;
}
header{
    background-color: white;
    padding-bottom: 37px;
    
}
.menu{
    position: absolute;
    top: 29px;
    left: 0;
    right: 0;

    align-items: center;
    justify-content: space-between;
}
.menu{
    position: absolute;
    top: 29px;
    left: 0;
    right: 0;
    transform: translateX(-80px);
    align-items: center;
    justify-content: space-between;
  }
  .content{
  
    min-height: 100px;
    
  
  
  }
  .navbar{
    transform: translate(350px,-50px);
  }
  .logo{
    font-size: 65px;
    color: #79b061;
    font-weight: bold;
    transform: translateX(-80px);
  } 
.menu.navbar ul li{
position: relative; 
float: left;
}
.navbar ul a{
    color: #79b061;
    text-decoration: none;
    margin: 20px;
 } 
 .navbar ul a:hover{
    background-color: #79b061;
    color: white;
    margin: 20px;
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
 }
 #menu {
    display: none;
 }
#menu {
   display: none;
}
.menu-icono{
   width: 50px;

}
.menu label{
   cursor: pointer;
   display: none;
}
.imagen_3{
    text-align: center;
    padding: 100px;
    font-size:25px;
    border-radius: 20px;
}

.titulo{
    transform: translate(27.5%);
    font-size: 25px;
}
p{
    transform: translate(12.5%);
    text-align: center;
    font-size: 20px;
}   
.titulo{
    transform: translate(150px);
    font-size: 35px;
}    
.imagen{
    transform: translate(3%);
    border-radius: 30px;
}
.parrafo{
    width: 70%;
    transform: translate(22.5%);
    font-size: 25px;
    text-align: center;

}

h3{
    text-align: center;

}




